{% load static %}
<html>
  <head>
    <title>Shelf Analytics</title>
    <link rel="stylesheet" type="text/css" href="{% static 'shancms/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'shancms/css/datepicker.css' %}">
  </head>
  <body>
    <div class="main">
      <h1>Shelf Analytics</h1>
      <h2>Dashboard</h2>
      <p>Welcome to Shelf Analytics.</p>
      <div id="chart-container">
        <canvas id="shan-chart" width="600" height="400"></canvas>
      </div>
      <fieldset id="agg-fieldset" hidden="true">
        <legend>Aggregate by:</legend>
        <div>
          <input type="radio" name="agg" id="agg-days" checked/>
          <label for="agg-days">Days</label>
        </div>
        <div>
          <input type="radio" name="agg" id="agg-weeks"/>
          <label for="agg-weeks">Weeks</label>
        </div>
        <div>
          <input type="radio" name="agg" id="agg-months"/>
          <label for="agg-months">Months</label>
        </div>
      </fieldset>
      <br/>
      <fieldset id="agg-date-fieldset">
        <legend>Date range:</legend>
        <div style="padding: 10px">
          <label for="agg-start-date">Start</label>
          <input id="agg-start-date" data-toggle="datepicker">
        </div>
        <div style="padding: 10px">
          <label for="agg-end-date">End</label>
          <input id="agg-end-date" data-toggle="datepicker">
        </div>
      </fieldset>
      <br/>
      <button id="btn-reload">Reload chart</button>
    </div>
    <script src="{% static 'shancms/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'shancms/js/datepicker.js' %}"></script>
    <script src="{% static 'shancms/js/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'shancms/js/Chart.min.js' %}"></script>
    <script src="{% static 'shancms/js/shan.js' %}"></script>
  </body>
</html>