{% load static %}
<html>
  <head>
    <title>Shelf Analytics</title>
    <link rel="stylesheet" type="text/css" href="{% static 'shancms/css/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'shancms/css/bootstrap-datepicker3.min.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'shancms/css/style.css' %}">
  </head>
  <body>
    <div class="main">
      <h1>Shelf Analytics</h1>
      <h2>Dashboard</h2>
      <p>Welcome to Shelf Analytics.</p>
      <div id="chart-container">
        <canvas id="shan-chart" width="600" height="400"></canvas>
      </div>
      <!-- <div class="input-daterange input-group" id="datepicker">
          <input type="text" class="input-sm form-control" name="start" />
          <span class="input-group-addon">to</span>
          <input type="text" class="input-sm form-control" name="end" />
      </div> -->
      <div id="agg-fieldset" class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="radio" name="agg-period" id="agg-days" autocomplete="off" checked> Days
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="agg-period" id="agg-weeks" autocomplete="off"> Weeks
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="agg-period" id="agg-months" autocomplete="off"> Months
        </label>
      </div>
    </div>
    <script src="{% static 'shancms/js/jquery-3.3.1.min.js' %}"></script>
    <!-- <script src="{% static 'shancms/js/popper.min.js' %}"></script> -->
    <script src="{% static 'shancms/js/bootstrap.min.js' %}"></script>
    <!-- <script src="{% static 'shancms/js/bootstrap-datepicker.min.js' %}"></script> -->
    <!-- <script src="{% static 'shancms/js/locales/bootstrap-datepicker.pt-BR.min.js' %}"></script> -->
    <script src="{% static 'shancms/js/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'shancms/js/Chart.min.js' %}"></script>
    <script src="{% static 'shancms/js/shan.js' %}"></script>
  </body>
</html>