{% load static %}
<html>
  <head>
    <title>Shelf Analytics</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'shancms/css/style.css' %}">
  </head>
  <body>
    <div data-calibration-image-url="{{ my_calibration_video.video_calibration_image_url }}" hidden="true"></div>
    <div data-shelf-id="{{ shelf.id }}" hidden="true"></div>
    <div class="navbar-bg">
      <div class="navbar-container">
        <div class="left">
          <a class="logo" href="/shancms">
            Shelf Analytics
          </a>
        </div>
        <div class="middle"></div>
        <div class="right">
          <div class="account">
            {{ current_user.email }}
            <a href='#'>(sair da conta)</a>
          </div>
        </div>
      </div>
    </div>
    <div class="main">
      <h1>Calibrate a shelf</h1>
      <p>
        <label for="calib-video-select">Choose a calibration video:</label>
        <select id="calib-video-select">
            <option value="{{ my_calibration_video.id }}">{{ my_calibration_video.recording_date }}</option>
            {% for calib_video in other_calibration_videos %}
            <option value="{{ calib_video.id }}">{{ calib_video.recording_date }}</option>
            {% endfor %}
        </select>
      </p>
      <div class="v-space-1grem"></div>
      <!-- <img id="calibration-image" src="{{ my_calibration_video.video_calibration_image_url }}"></img> -->
      <canvas id="calibration-canvas"></canvas>
      <br>
      <br>
      <br>
      <a id="btn-create" class="button1" href="#">Save</a>
      <a id="btn-cancel" class="button2" href="#">Cancel</a>
    </div>
    <div class="footer">
      Copyright © 2018 TonetoLabs, Inc.<br>All rights reserved.
    </div>
    <script src="{% static 'shancms/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'shancms/js/shelf_calibrate.js' %}"></script>
  </body>
</html>