{% load static %}
<html>
  <head>
    <title>Shelf Analytics</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'shancms/css/style.css' %}">
  </head>
  <body>
    <div data-calibration-image-url="{{ my_calibration_video.video_calibration_image_url }}" hidden="true"></div>
    <div data-shelf-id="{{ shelf.id }}" hidden="true"></div>
    <div id="open-modal" class="modal-window">
      <div>
        <a href="#modal-close" title="Close" class="modal-close">Close</a>
        <h1>
          Edit params
        </h1>
        <div>
          <p>These parameters are used internally by the algorithm.</p>
          <br>
          <textarea name="calib-params" id="calib-params" cols="30" rows="10">
            {"foo": [1, 2, 3], "bar": "quux"}
          </textarea>
        </div>
      </div>
    </div>
    <div class="navbar-bg">
      <div class="navbar-container">
        <div class="left">
          <a class="logo" href="/shancms">
            Shelf Analytics
          </a>
        </div>
        <div class="middle"></div>
        <div class="right">
          <div class="account">
            {{ current_user.email }}
            <a href='#'>(sair da conta)</a>
          </div>
        </div>
      </div>
    </div>
    <div class="main">
      <h1>Calibrate a shelf</h1>
      <p>
        <label for="calib-video-select">Choose a calibration video:  </label>
        <select id="calib-video-select">
            <option value="{{ my_calibration_video.id }}">{{ my_calibration_video.recording_date }}</option>
            {% for calib_video in other_calibration_videos %}
            <option value="{{ calib_video.id }}">{{ calib_video.recording_date }}</option>
            {% endfor %}
        </select>
      </p>
      <a id="view-camera-logs" href="#" class="link">View camera logs</a>
      <div id="camera-logs">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, dignissimos quae? Neque quod, natus minus alias dolorum adipisci eaque porro deserunt delectus autem quam optio quia pariatur ex maiores quibusdam.
      </div>
      <div class="v-space-1grem"></div>
      <a id="btn-record" class="button3" href="#">Record calibration video</a>
      <span id="status-record">
      </span>
      <div class="v-space-1grem"></div>
      <canvas id="calibration-canvas"></canvas>
      <div id="canvas-message">
      </div>
      <div class="v-space-1grem"></div>
      <a id="btn-create" class="button1" href="#">Save</a>
      <a id="btn-test" class="button3" href="#">Run a test</a>
      <a id="btn-draw-aisle" class="button2" href="#">Draw aisle</a>
      <a id="btn-draw-shelf" class="button2" href="#">Draw shelf</a>
      <a id="btn-edit-params" class="button2" href="#open-modal">Edit params</a>
      <div class="v-space-1grem"></div>
      <hr>
      <div class="v-space-1grem"></div>
      <h2>Tests results</h2>
      <p>Found {{ tests_count }} test results.</p>
      <div class="v-space-1grem"></div>
      <div class="test-list">
        {% for test in tests %}
        <div class="test-item">
          <div class="test-status">{{ test.status }}</div>
          <div class="test-creation-date">{{ test.creation_date }}</div>
          <div class="test-result"><a href="{{ test.result_video_url }}" target="_blank" class="link">Open video</a></div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="footer">
      Copyright © 2018 TonetoLabs, Inc.<br>All rights reserved.
    </div>
    <script src="{% static 'shancms/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'shancms/js/shelf_calibrate.js' %}"></script>
  </body>
</html>