{% load static %}
<html>
  <head>
    <title>Shelf Analytics</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'shancms/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'shancms/css/datepicker.css' %}">
  </head>
  <body>
    <div data-shelf-id="{{ shelf_id }}" hidden="true"></div>
    <div class="navbar-bg">
      <div class="navbar-container">
        <div class="left">
          <a class="logo" href="/shancms">
            Shelf Analytics
          </a>
        </div>
        <div class="middle"></div>
        <div class="right">
          <div class="account">
            {{ current_user.email }}
            <a href='#'>(sair da conta)</a>
          </div>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="v-space-1grem"></div>
      <a href="{% url 'shancms:venues_detail' venue.id %}" class="link">← Back to shelves</a>
      <h1>Events</h1>
      <p>Found events from <b>{{ first_date}}</b> until <b>{{ last_date }}</b>.</p>
      <div class="v-space-1grem"></div>
      <div id="loading-container" hidden="false"></div>
      <div id="error-container" hidden="true"></div>
      <div id="chart-container">
        <canvas id="shan-chart" width="600" height="400"></canvas>
      </div>
      <div id="chart-controls" hidden="true">
        <br />
        <fieldset id="agg-fieldset" class="fieldset">
          <legend><b class="text-large">Average by period</b></legend>
          <div>
            <input type="radio" name="agg" id="agg-days" checked/>
            <label for="agg-days" class="text-normal">1 day</label>
          </div>
          <div>
            <input type="radio" name="agg" id="agg-weeks"/>
            <label for="agg-weeks" class="text-normal">7 days</label>
          </div>
          <div>
            <input type="radio" name="agg" id="agg-months"/>
            <label for="agg-months" class="text-normal">30 days</label>
          </div>
        </fieldset>
        <br/>
        <fieldset id="agg-date-fieldset" class="fieldset">
          <legend><b class="text-large">Filter by date</b></legend>
          <span>
            <label for="agg-start-date">Show events from </label>
            <input id="agg-start-date" data-toggle="datepicker">
          </span>
          <span>
            <label for="agg-end-date"> to </label>
            <input id="agg-end-date" data-toggle="datepicker">
          </span>
        </fieldset>
        <br/>
        <a id="btn-reload" class="button1" href="#">Reload chart</a>
        <a id="btn-calibrate" class="button2" href="#">Calibrate</a>
      </div>
      <div class="footer">
        Copyright © 2018 TonetoLabs, Inc.<br>All rights reserved.
      </div>
    </div>
    <script src="{% static 'shancms/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'shancms/js/datepicker.js' %}"></script>
    <script src="{% static 'shancms/js/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'shancms/js/Chart.min.js' %}"></script>
    <script src="{% static 'shancms/js/shan.js' %}"></script>
  </body>
</html>