* {
  -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 16px;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  background-color: #FDFDFE;
}

.main {
  width: 80%;
  margin: 0 auto;
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 3.24em;
  padding-bottom: 2em;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  color: rgba(0, 0, 0, .42);
}

/* Utils */

.v-space-1grem {
  width: 100%;
  height: 1.62em;
}

.right {
  float: right;
}

a.link {
  color: #0099FF;
  text-decoration: none;
}

a.link:hover {
  color: #22BBFF;
  text-decoration: underline;
}

hr {
  color: rgba(0, 0, 0, 0.16);
}

/* Navigation Bar */

.navbar-bg {
  background-color: #4A4A4A;
  color: #FFF;
  padding-top: 15px;
  padding-bottom: 10px;
}

.navbar-container {
  width: 80%;
  margin: 0 auto;
}

.navbar-container > .left {
  display: inline-block;
  width: 33%;
}

.navbar-container > .right {
  display: inline-block;
  width: 33%;
}

.navbar-container > .middle {
  display: inline-block;
  width: 33%;
  margin: 0 auto;
}

.logo {
  text-decoration: none;
  color: #FFF;
  display: inline;
}

.account {
  display: inline;
  font-size: 14px;
  color: #AAA;
}

.account > a {
  color: #0099FF;
  text-decoration: none;
}

.account > a:hover {
  color: #22BBFF;
  text-decoration: underline;
}

.venue {
  background-color: #FFF;
  border: 1px solid #DDD;
  border-radius: 4px;
  padding: 25px 40px;
  margin-bottom: 10px;
}

/* Text */

h1 {
  margin: 0;
  padding: 0;
  font-size: 2.3em;
  margin-top: 1.22em;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 1.67em;
  /* margin-bottom: 0.6em; */
}

p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  margin-top: 0.61em;
}

.text-normal {
  font-size: 15px;
}

.text-large {
  color: #222;
  font-size: 20px;
}

/* Forms */

.fieldset {
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.fieldset > div {
  padding: 4px;
}

#agg-fieldset > div {
  display: inline;
}

/* Calibration videos */
#calibration-canvas {
  border: 1px solid #777;
}

.cursor-none {
  cursor: none;
}

.cursor-pointer {
  cursor: pointer;
}

/* video {
  width: 50%;
} */

/* .calibration-videos a {
  text-decoration: none;
  padding: 2em;
  background-color: #DDD;
} */

/* Buttons */

a.button1 {
  display:inline-block;
  padding:0.82em 1.68em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.3em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:#FFFFFF;
  background-color:#006699;
  text-align:center;
  transition: all 0.2s;
}

a.button1:hover {
  color:#DDD;
  background-color:#2288BB;
}

a.button2 {
  display:inline-block;
  padding:0.82em 1.68em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.3em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:#FFFFFF;
  background-color:#4a4a4a;
  text-align:center;
  transition: all 0.2s;
}

a.button2:hover {
  color:#DDD;
  background-color:#6c6c6c;
}

a.button3 {
  display:inline-block;
  padding:0.82em 1.68em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.3em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:#FFFFFF;
  background-color:#008800;
  text-align:center;
  transition: all 0.2s;
}

a.button3:hover {
  color:#DDD;
  background-color:#22AA22;
}

a.button0 {
  display:inline-block;
  padding:0.82em 1.68em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.3em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:#CCC;
  background-color:#888;
  text-align:center;
  transition: all 0.2s;
  cursor: not-allowed;
}

a.button0:hover {
  color:#DDD;
  background-color:#999;
}

@media all and (max-width:30em){
  a.button1, a.button2, a.button3 {
    display:block;
    margin:0.4em auto;
  }
}

/* Calibrate */

.test-list {
  border: 1px solid #999;
  border-radius: 1px;
}

.test-item {
  padding: 20px;
  background-color: #F6F6F6;
}

.test-item > div {
  padding-left: 10px;
}

.test-status {
  width: 20%;
  /* border-right: 1px solid #888; */
  display: inline-block;
  font-family: monospace;
}

.test-creation-date {
  width: 50%;
  /* border-right: 1px solid #888; */
  display: inline-block;
  font-family: monospace;
  text-align: center;
}

.test-result {
  width: 20%;
  display: inline-block;
  text-align: right;
}

#status-record {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.75);
}

#camera-logs {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 12px;
  background-color: #222;
  line-height: 1.62em;
  color: #dfd;
  padding: 28px;
  margin-top: 10px;
  border-radius: 8px;
}

#canvas-message {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 13px;
  line-height: 1.62em;
  color: #333;
  padding-top: 14px;
}

/* Modal */

.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-window>div {
  border-radius: 4px;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: #ffffff;
  color: #333333;
}

.modal-window textarea {
  border-radius: 4px;
  border: 1px solid #eee;
  color: #cfc;
  font-size: 14px;
  line-height: 1.47em;
  background-color: #343;
  padding: 1em;
  display: block;
  width: 100%;
  resize: none;
  font-weight: 300;
}

.modal-window header {
  font-weight: bold;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-close:hover {
  color: #000;
}

.modal-window h1 {
  /* font-size: 150%; */
  margin: 0 0 15px;
  color: #333333;
}

i {
  vertical-align: middle;
}